.body {
  max-width: 30ch;
  font-size: var(--fs-1);
  font-weight: 400;
  letter-spacing: var(--tracking-tight);
  line-height: 1.28;
  color: var(--c-fg);
}

.body p + p {
  margin-top: var(--s-4);
}

@media (max-width: 768px) {
  .body {
    max-width: none;
  }
}
